form {
  margin: 3em 0 1em;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #9a9ea8;
}

:-moz-placeholder {
  color: #9a9ea8;
}

:-ms-input-placeholder {
  color: #9a9ea8;
}

input[type="email"] {
  @include appearance(none);
  @include box-sizing(border-box);
  font-size: 1em;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  border: 1px solid #b8bbc2;
  font-size: 18px;
  width: 280px;
  height: 32px;
  margin: 0 0 0.5em;
}

input[type="email"]:focus {
  @include transition(border 0.3s ease-in-out);
  outline: 0;
  border-color: #43acd7;
}

button {
  @include box-sizing(border-box);
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #999;
  cursor: pointer;
  color: #606877;
  height: 32px;
  display: inline-block;
  padding: 5px 8px;
  vertical-align: top;
  font-size: 16px;

  @media #{$grater-small-media-query} {
    display: block;
    margin: 0 auto 2em;
  }
}

button:hover, button:focus {
  background-color: #f3f3f3;
}

button:active {
  background: #f6f6f6;
}
