a.app-store {
  width: 187px;
  height: 55px;

  img {
    width: 187px;
    height: 55px;
  }

  &:hover {
    border: 0;
  }
}

section {
  box-sizing: border-box;
  padding: 40px 20px;

  p:last-child {
    margin-bottom: 0;
  }

  div.grater > div {
    margin-bottom: 0;
    position: relative;

    &:last-child {
      width: 256px;
      height: 256px;
    }
  }

  a.app-icon {
    width: 256px;
    height: 256px;
    display: block;
    background: no-repeat;
    background-size: 256px 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -128px 0 0 -128px;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      border-color: transparent;
    }
  }

  @media #{$grater-small-media-query} {
    padding: 40px 10px;

    div.grater {
      text-align: center;

      > div {
        height: auto !important;
      }

      > div:first-child {
        margin-bottom: 3em;
      }
    }

    a.app-icon {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto;
    }
  }
}


// Whiskey
section#whiskey {
  background: #2d2725;
  color: #fee9c1;

  a {
    color: #fee9c1;
  }

  input {
    background: #f6e8e3;
    border-color: #f6e8e3;
    color: #333;

    &:focus {
      border-color: #ecc171;
    }
  }

  button {
    background: #e88237;
  }
}
