<section id="about">
 <h2>About</h2>
</section>

<section id="cheddar">
  <h2>Cheddar</h2>
</section>

<section id="shares">
  <h2>Shares</h2>
</section>

<section id="team">
  <h2>Team</h2>
  <a href="http://soff.es" rel="external nofollow">
    <span class="photo"></span>
    <span class="name">Sam Soffes</span>
  </a>
</section>

<form action="http://nothingmagical.createsend.com/t/j/s/qyukj/" method="post">
  <input type="email" name="cm-qyukj-qyukj" placeholder="your@email.com" />
  <button type="submit">I'm Curious</button>
</form>
