<section id="redacted">
  <div class="grater grater-container">
    <div>
      <h2>Redacted</h2>
      <p><a href="http://useredacted.com" rel="external nofollow">Redacted</a> makes it quick and easy to redact parts of an image. Hide sensitive details of an image by simply clicking and dragging.</p>
      <p><a href="https://itunes.apple.com/app/id984968384?mt=12&amp;uo=6&amp;at=1l3vmtU&amp;ct=" rel="external nofollow" class="app-store"><img src="/assets/mac-app-store.svg" alt="Download on the Mac App Store"></a></p>
    </div>
    <div>
      <a href="http://useredacted.com" rel="external nofollow" class="app-icon mac"><img alt="Redacted for Mac" src="/assets/redacted-mac.png" srcset="/assets/redacted-mac@2x.png 2x"></a>
    </div>
  </div>
</section>
<section id="whiskey">
  <div class="grater grater-container reverse">
    <div>
      <h2>Whiskey</h2>
      <p><a href="http://usewhiskey.com" rel="external nofollow">Whiskey</a> is a modern Markdown app for Mac &amp; iOS.</p>
      <p>Coming eventually.</p>
      <form action="http://nothingmagical.createsend.com/t/j/s/oddtry/" method="post">
        <input name="cm-oddtry-oddtry" type="email" placeholder="your@email.com" required>
        <button type="submit">Get Notified</button></p>
      </form>
    </div>
    <div>
      <a href="http://usewhiskey.com" rel="external nofollow" class="app-icon mac"><img alt="Whiskey for Mac" src="/assets/whiskey-mac.png" srcset="/assets/whiskey-mac@2x.png 2x"></a>
    </div>
  </div>
</section>
