<p>We're making <a href="http://cheddarapp.com/" rel="external">Cheddar</a>. It’s a simple &amp; instant way to manage your tasks. We think you’ll love it. Cheddar will be ready soon.</p>

<p>You can Nothing Magical on <a href="http://twitter.com/nothingmagical" rel="external nofollow">Twitter</a> or <a href="http://angel.co/s/6wcaki" rel="external nofollow">AngelList</a>. If you're feeling adventurous, sign up to get notified when we launch Cheddar and some other exitiving stuff.</p>

<form action="http://nothingmagical.createsend.com/t/j/s/qyukj/" method="post">
  <input type="email" name="cm-qyukj-qyukj" placeholder="your@email.com" />
  <button type="submit">I'm Curious</button>
</form>
