<p>We're making <a href="http://cheddarapp.com/" rel="external">Cheddar</a>. It’s a simple &amp; instant way to manage your tasks. We think you’ll love it. For more information about Cheddar and a press kit, head over to the <a href="https://cheddarapp.com/press" rel="external nofollow">Cheddar press page</a>.</p>

<p>You can follow Nothing Magical on <a href="http://twitter.com/nothingmagical" rel="external nofollow">Twitter</a>, <a href="http://facebook.com/nothingmagical" rel="external nofollow">Facebook</a>, <a href="https://plus.google.com/114616627764295822869" rel="publisher">Google+</a>, or <a href="http://angel.co/s/6wcaki" rel="external nofollow">AngelList</a>. If you're feeling adventurous, sign up to get notified when we launch future products.</p>

<form action="http://nothingmagical.createsend.com/t/j/s/qyukj/" method="post">
  <input type="email" name="cm-qyukj-qyukj" placeholder="your@email.com" />
  <button type="submit">I'm Curious</button>
</form>
