<section id="whiskey">
  <div class="grater grater-container reverse">
    <div>
      <h2>Whiskey</h2>
      <p><a href="http://usewhiskey.com" rel="external nofollow">Whiskey</a> is a modern Markdown app for Mac &amp; iOS.</p>
      <p>Coming soon.</p>
      <form action="http://nothingmagical.createsend.com/t/j/s/oddtry/" method="post">
        <input name="cm-oddtry-oddtry" type="email" placeholder="your@email.com" required>
        <button type="submit">Get Notified</button></p>
      </form>
    </div>
    <div>
      <a href="http://usewhiskey.com" rel="external nofollow" class="app-icon mac"><img alt="Whiskey" src="/assets/whiskey-icon.png" srcset="/assets/whiskey-icon@2x.png 2x"></a>
    </div>
  </div>
</section>

<section id="shares">
  <div class="grater grater-container">
    <div>
      <h2>Shares</h2>
      <p><a href="http://useshares.com" rel="external nofollow">Shares</a> gives you a simple overview of all the companies you have invested in. You can add new companies or update existing investments. Simply your gains, at a glance.</p>

      <p><a href="https://itunes.apple.com/app/id717510981" rel="external nofollow" class="app-store">
          <img src="/assets/shares-app-store.svg" alt="Available on the App Store">
      </a></p>
    </div>
    <div>
      <a href="http://getsharesapp.com" rel="external nofollow" class="app-icon"><img src="/assets/shares-icon.svg" alt="Shares"></a>
    </div>
  </div>
</section>

<section id="roon">
  <div class="grater grater-container reverse">
    <div>
      <h2>Roon</h2>
      <p><a href="https://roon.io" rel="external nofollow">Roon</a> is the easiest way to blog. It's easy to use on your iPhone, iPad, and on the web. <em>Roon is free, beautiful &amp; cross-platform.</em> Sign up for free at <a href="https://roon.io" rel="external nofollow">Roon.io</a>.</p>

      <p class="small">Roon is a collaborative project with <a href="http://drewwilson.com" rel="external nofollow">Drew Wilson</a>.

      <p><a href="https://itunes.apple.com/us/app/id634949849" rel="external nofollow" class="app-store">
          <img src="/assets/roon-app-store.svg" alt="Available on the App Store">
      </a></p>
    </div>
    <div>
      <a href="https://roon.io" rel="external nofollow" class="app-icon"><img alt="Roon" src="/assets/roon-icon.png" srcset="/assets/roon-icon@2x.png 2x"></a>
    </div>
  </div>
</section>

<section id="coins">
  <div class="grater grater-container">
    <div>
      <h2>Coins</h2>
      <p>Coins makes it easy to see the value of your bitcoins. Coins is a universal app and works on iPhone, iPod touch, and iPad. Simply the value of your wallet, at a glance.</p>
      <p><a href="https://itunes.apple.com/app/id787299853" rel="external nofollow" class="app-store">
          <img src="/assets/coins-app-store.svg" alt="Available on the App Store">
      </a></p>
    </div>
    <div>
      <a href="http://getcoinsapp.com" rel="external nofollow" class="app-icon"><img alt="Coins" src="/assets/coins-icon.svg"></a>
    </div>
  </div>
</section>

<section id="team">
  <div class="grater-container grater reverse">
    <div>
      <h2>Team</h2>
      <p>Nothing Magical is just a one man show. Sam designs and develops all of the Nothing Magical products.</p>
      <p>Follow <a href="https://twitter.com/soffes" rel="external nofollow">@soffes</a> on Twitter.</p>
    </div>
    <div>
      <a href="http://soff.es" rel="external nofollow" class="headshot">
        <img alt="Sam Soffes" src="/assets/soffes.png" srcset="/assets/soffes@2x.png 2x">
        <span class="name">Sam Soffes</span>
      </a>
    </div>
  </div>
</section>

<form class="curious" action="http://nothingmagical.createsend.com/t/j/s/qyukj/" method="post">
  <input type="email" name="cm-qyukj-qyukj" placeholder="your@email.com" />
  <button type="submit">I'm Curious</button>
</form>

