<section id="shares">
  <div class="grater-container">
    <h2>Shares</h2>
    <p>Shares gives you a simple overview of all the companies you have invested in. You can add new companies or update existing investments in one easy step. Quickly swipe to see more information for each company. Simply your gains, at a glance.</p>

    <p><a href="https://itunes.apple.com/app/shares/id495399233" rel="external nofollow" class="app-store">
        <img src="/assets/shares-app-store.svg" alt="Available on the App Store">
    </a></p>
  </div>
</section>

<section id="cheddar">
  <div class="grater-container">
    <a href="https://cheddarapp.com" rel="external nofollow" class="title">
      <img src="/assets/cheddar.svg" alt="Cheddar">
    </a>

    <p><a href="https://cheddarapp.com" rel="external nofollow">Cheddar</a> keeps your world organized. It's easy to use on your iPhone, iPod touch, iPad, and on the web. Cheddar is super simple and instantly in sync on all of your devices.</p>

    <p><a href="https://cheddarapp.com/apps" rel="external nofollow" class="app-store">
      <img src="/assets/cheddar-app-store.svg" alt="Available on the App Store">
    </a></p>
  </div>
</section>

<section id="team">
  <div class="grater-container">
    <div class="grater">
      <div>
        <h2>Team</h2>
        <p>Nothing Magical is just a one man show. Sam designs and develops all of the Nothing Magical products.</p>
        <p>Follow <a href="https://twitter.com/soffes" rel="external nofollow">@soffes</a> on Twitter.</p>
      </div>
      <div>
        <a href="http://soff.es" rel="external nofollow" class="headshot">
          <span class="photo"></span>
          <span class="name">Sam Soffes</span>
        </a>
      </div>
    </div>
  </div>
</section>

<form action="http://nothingmagical.createsend.com/t/j/s/qyukj/" method="post">
  <input type="email" name="cm-qyukj-qyukj" placeholder="your@email.com" />
  <button type="submit">I'm Curious</button>
</form>
