<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nothing Magical</title>
  <link rel="author" href="humans.txt">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/619254/637982/css/fonts.css">
  <link href="/assets/application.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <header>
     <h1>Nothing Magical</h1>
     <img src="/assets/logo.svg" alt="Nothing Magical">
  </header>
  <%= yield %>
  <footer>
    &copy; 2013 Nothing Magical Inc &mdash; <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%73%61%6d@%6e%6f%74%68%69%6e%67%6d%61%67%69%63%61%6c.%63%6f%6d">Contact</a> &mdash; <a href="https://cheddarapp.com/press" rel="external nofollow">Press</a>
  </footer>
  <script src="/assets/srcset.min.js"></script>
  <% if ENV['RACK_ENV'] == 'production' %>
  <script>var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','526ae77cf5a1f5031e0000f7');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t,s);})();</script>
  <% end %>
</body>
</html>
