/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}section,header,footer,nav,article,aside,figure{display:block;width:100%}mark,time,meter,progress{display:inline}

/* General */

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

header, section {
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  margin: 0 auto 4em;
  background: #ff1e00;
  padding: 100px 0;
}

section {
  padding: 0 10px;
  max-width: 640px;
  margin-bottom: 2em;
}

body, input, button {
  color: #444;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  color: #0881b3;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 0 0 1em;
  line-height: 1.4em;
  font-size: 20px;
}

h1 {
  width: 471px;
  height: 165px;
  background: url(/images/logo.png) no-repeat;
  background-size: 471px 165px;
  text-indent: -9009em;
  margin: 0 auto;
}

/* Form */

form {
  margin: 3em 0 1em;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #9a9ea8;
}

:-moz-placeholder {
  color: #9a9ea8;
}

:-ms-input-placeholder {
  color: #9a9ea8;
}

input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset;
  background-color: white;
  padding: 5px;
  border: 1px solid #b8bbc2;
  font-size: 18px;
  width: 280px;
  height: 32px;
  margin: 0 0 0.5em;
}

input[type="email"]:focus {
  -webkit-box-shadow: 0 0 4px rgba(8, 129, 179, 0.5), 0 1px 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 4px rgba(8, 129, 179, 0.5), 0 1px 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 4px rgba(8, 129, 179, 0.5), 0 1px 4px rgba(0, 0, 0, 0.1) inset;
  outline: 0;
  border-color: #43acd7;
}

button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fcfcfd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfd), color-stop(100%, #e4e7ee));
  background-image: -webkit-linear-gradient(top, #fcfcfd, #e4e7ee);
  background-image: -moz-linear-gradient(top, #fcfcfd, #e4e7ee);
  background-image: -ms-linear-gradient(top, #fcfcfd, #e4e7ee);
  background-image: -o-linear-gradient(top, #fcfcfd, #e4e7ee);
  background-image: linear-gradient(top, #fcfcfd, #e4e7ee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #959aa5;
  cursor: pointer;
  color: #606877;
  height: 32px;
  display: inline-block;
  padding: 5px 8px;
  vertical-align: top;
  text-shadow: 0 1px 0 #fff;
  font-size: 16px;
}

button:hover, button:focus {
  background-color: #fcfcfd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfd), color-stop(100%, #f0f2f6));
  background-image: -webkit-linear-gradient(top, #fcfcfd, #f0f2f6);
  background-image: -moz-linear-gradient(top, #fcfcfd, #f0f2f6);
  background-image: -ms-linear-gradient(top, #fcfcfd, #f0f2f6);
  background-image: -o-linear-gradient(top, #fcfcfd, #f0f2f6);
  background-image: linear-gradient(top, #fcfcfd, #f0f2f6);
}

button:active {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: #f0f2f6;
  position: relative;
  top: 1px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  h1 {
    background-image: url(/images/logo@2x.png);
  }
}

@media all and (max-width: 640px) {
  header {
    padding: 30px 0;
    margin-bottom: 30px;
  }
  
  section {
    width: 300px;
  }
  
  h1 {
    width: 173px;
    height: 200px;
    background-image: url(/images/logo-narrow.png);
    background-size: 173px 200px;
  }
}

@media only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  h1 {
    background-image: url(/images/logo-narrow@2x.png);
  }
}
