@import "bourbon";
@import "grater";
@import "globals/variables";
@import "components/reset";

/* General */

html, button, input {
  -webkit-font-smoothing: antialiased;
}

html, body {
  @include prefixer(font-smoothing, antialiased, webkit moz spec);
}

header {
  margin: 0 auto;
  background: $red-color;
  padding: 100px 0;
}

body, input, button {
  color: #444;
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

a {
  color: #0881b3;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  @include transition(border 0.3s ease-in-out);
  border-bottom: 1px solid;
}

p {
  margin: 0 0 1em;
  line-height: 1.4em;
}

p.small {
  font-size: 0.8em;
}

h1 {
  display: none;
}

body > header img {
  width: 400px;
  height: 120px;
  margin: 0 auto;
  display: block;

  @media #{$grater-small-media-query} {
    width: 280px;
    height: 84px;
  }
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input {
  @include box-sizing(border-box);
  background: #f3f3f3;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  width: 300px;
  height: 44px;
  outline: 0;
  border: 2px solid #f3f3f3;
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 400;
  font-size: 18px;
  color: #333;
  margin: 0 0 0.25em;
  position: relative;
  top: 1px;

  &:focus {
    border: 2px solid #59d56e;
  }
}

button {
  background: #59d56e;
  padding: 10px 15px;
  font-family: 'Whitney A', 'Whitney B';
  font-weight: 600;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  margin: 0;
  height: 44px;

  &:hover {
    cursor: pointer;
  }
}

footer {
  text-align: center;
  font-size: 18px;
  color: #999;
  padding: 30px 0;
}

footer a {
  color: #999;
}

@import "pages/*";
